.logo
	text-align: center
	&__descr
		visibility: hidden
		opacity: 0
		transition: .5s ease
		color: $gray
		+f('geo-300', 16)
		+md
			font-size: 15px
			visibility: visible
			opacity: 1

.nav
	$parent: &
	position: absolute
	top: 70px
	left: 0
	right: 0
	background: #f16eaa
	transition: .8s ease-in-out
	box-shadow: 0 0 10px rgba($black, .4)
	+sm
		position: fixed
		top: 80px
		bottom: 0
		z-index: 101
		opacity: 0
		visibility: hidden
		transition: .3s ease
		background: #e6393f url("../img/bg/hearts_bg.png") repeat 50% 50%
	+xs
		top: 70px
		
	&.is-active
		opacity: 1
		visibility: visible
	&.is-hidden
		transform: translateY(-170px) !important
	
	&__list
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 15px
		height: 50px
		margin: 0 auto
		+sm
			padding: 0
			flex-direction: column
			height: 100%
			justify-content: center
			
		&-item
			+sm
				width: 100%
				text-align: center
				margin: 15px 0
		&-item.is-active &-link
			+f('geo-700')
		&-link
			color: $white
			+f('geo-400', 16, 16)
			+trs
			+sm
				display: block
				padding: 10px 35px
				font-size: 22px
				line-height: 22px
			+xs
				font-size: 20px
				line-height: 20px
			.no-touch &:hover
				text-shadow: 0 5px 20px #fff
			#{$parent}_landing &
				text-transform: uppercase
				+f('geo-500', 15)
				
	&_footer
		position: relative
		top: 1px
		left: auto
		right: auto
		+sm
			display: none
	&_absolute
		position: absolute
		left: 0
		right: 0
		top: 0
		.nav__list-link
			text-transform: uppercase
			+f('geo-500', 15)
	&_landing
		top: 120px
		&.is-inner
			transform: translateY(-100px)
			+sm
				transform: none
		&.is-float
			transform: translateY(-50px)

.info-block
	display: flex
	align-items: center
	flex-basis: 615px
	$parent: &
	+xs
		flex: 0 1 auto
	&__tel
		margin-left: 50px
		margin-right: 20px
		color: $gray
		+f('geo-900', 25)
		+md
			margin: 0 20px
			font-size: 17px
	&__call-btn
		padding: 0 20px
		height: 40px
		line-height: 40px
		font-size: 16px
		+lg
			height: 45px
			line-height: 46px
	&__row
		display: flex
		flex: 1 0 auto
		align-items: center
		justify-content: space-between
		margin-top: 15px
		+sm
			flex-direction: column
			align-items: flex-end
		+xs
			align-items: center
	&__link
		font-size: 15px
		line-height: 18px
		color: #8d8d8d
		border-bottom: 1px solid currentColor
		+trs
		.no-touch &:hover
			border-bottom-color: transparent
	&__dev
		font-size: 15px
		+xs
			margin-top: 10px
		a
			color: #3d8af7
			border-bottom: 1px solid currentColor
			+trs
			.no-touch &:hover
				border-bottom-color: transparent
			
	&__socials
		display: inline-flex
		
	&_header .info-block__tel
		+xs
			display: none
	&_header &__call-btn
		+md
			margin-right: 20px
		+xs
			display: none
	&_header
		+md
			justify-content: flex-end
			align-items: center
	&_header &__socials
		+sm
			display: none
	&_footer
		flex-wrap: wrap
		justify-content: space-between
		+sm
			padding-left: 20px
		+xs
			padding: 15px 0 0
			flex-direction: column
			flex: 1 0 auto
		.info-block__tel, .info-block__call-btn
			+sm
				display: none
			+xs
				display: block
	&_footer &__call-btn
		margin: 15px 0
	&_footer &__socials
		+xs
			padding-bottom: 15px
	
	&__dev-text
		margin-bottom: 10px
		flex-basis: auto
		padding: 10px 28px
		font-size: 15px
		line-height: 20px
		border-radius: 20px
		background-color: #703782
		color: $white
		+sm
			text-align: right
			padding: 10px 8px
		+xs
			flex: 1 0 auto
			text-align: center
	&__city
		display: inline-flex
		+sm
			display: none
		&-item
			&:not(:first-child)
				padding-left: 20px
		&-name
			+f('geo-700', 17, 20)
		&-link
			color: #3d8af7
			font-size: 15px
			
.particles
	+coverdiv
	z-index: -1
	+xs
		display: none
		
.excurs
	+xs
		display: none
	&__title
		margin-bottom: 60px
	&__container
		position: relative
		max-width: 1000px
		padding: 0 15px
		+r(1599)
			max-width: 780px
	&__item
		position: relative
		padding-top: 55%
		iframe
			+coverdiv
	
.lessons
	padding: 50px 0!important
	background: #e6393f
	+xs
		padding: 50px 0 30px!important
	&__title
		+xs
			line-height: 36px
	&__container
		padding: 100px 15px 200px
		+md
			padding: 60px 15px 100px
		 
	&__title
		max-width: 960px
		margin: 0 auto 20px
		line-height: 70px
		+sm
			font-size: 36px
			line-height: 50px
			margin-bottom: 20px
			
.lessons-more
	color: #231f20
	&__top
		display: flex
		align-items: center
		margin-bottom: 20px
		+xs
			margin-bottom: 5px
	&__name
		margin-left: 25px
		text-align: left
		+xs
			margin-left: 5px
	&__photos
		display: flex
		justify-content: space-between
		+xs
			flex-direction: column
		&-item
			flex: 0 1 260px
			+cover-img
			+sm
				padding: 0 4px
			+xs
				padding: 0
				flex: 0 1 auto
				&:not(:first-child)
					margin-top: 10px
	&__title
		margin-bottom: 12px
		+f('geo-900')
		font-size: 35px
		color: #231f20
		+xs
			font-size: 23px
			margin-bottom: 0
	&__icon
		+xs
			transform: scale(.6)
	&__descr
		color: #25a84a
		+f('geo-700', 15)
		text-transform: uppercase
	&__sub-title
		margin-bottom: 8px
		+f('geo-700', 16, 20)
		text-transform: uppercase
		span
			color: #207bd2
	&__details
		margin-top: 20px
		.lessons-more__sub-title
			margin-bottom: 0
	&__text
		display: flex
		padding: 25px 0 40px
		margin-bottom: 40px
		border-bottom: 3px solid #ebebeb
		+sm
			flex-direction: column
			padding: 10px 0 0
			border: 0
			margin-bottom: 15px
			
		&-col
			display: flex
			flex-direction: column
			justify-content: space-between
			text-align: left
			&:nth-child(1)
				flex: 1 0 260px
				+sm
					order: 1
					flex: 1 0 auto
			
			&:nth-child(2)
				flex: 1 1 auto
				padding: 0 30px
				+sm
					padding: 10px 0 15px
					flex: 1 0 auto
		p
			font-size: 16px
			line-height: 22px
			&:not(:first-of-type)
				margin-top: 10px
		&-tags
			font-size: 15px
			span
				white-space: nowrap
				margin: 3px
			strong
				white-space: nowrap
				margin: 3px
				+f('geo-700')
		
	&__price
		display: flex
		align-items: center
		+f('geo-700', 13)
		color: #000
		text-transform: uppercase
		span
			color: #207bd2
			margin: 0 5px
			+f('geo-heavy', 20)
		&-details
			text-transform: uppercase
		&-wrap
			+sm
				display: flex
				flex-direction: column
				align-items: flex-end
				padding: 10px 0
				margin-top: 15px
				border-top: 3px solid #ebebeb
				border-bottom: 3px solid #ebebeb
	&__form
		&-in
			display: flex
			align-items: center
			+sm
				flex-wrap: wrap
				justify-content: center
			+xs
				flex-direction: column
				align-items: stretch
		&-field
			flex-basis: 33.33333%
			+sm
				flex: 0 0 260px
			+xs
				flex: 1 0 auto
			&:not(:first-child)
				margin-left: 30px
				+xs
					margin: 20px 0 0 0
			&:nth-child(3)
				+sm
					margin: 20px 0 0 0
		&-input
			height: 45px
	&__enroll-btn
		width: 100%
		padding: 0 15px
		font-size: 16px

.why-us
	background: #ffd737
	&__title
		margin-bottom: 30px
		font-size: 50px
		line-height: 52px
		&:not(:last-of-type)
			margin-bottom: 0
		+xs
			line-height: 40px
	&__container
		+r(1599)
			padding: 80px 15px 80px
	&__inner
		margin: 0 -15px
		font-size: 0
		+xs
			margin: 0
			padding: 30px 0 0
	&__item
		display: inline-block
		vertical-align: top
		width: 50%
		padding: 0 15px 30px
		+sm
			width: 100%
			padding: 0 30px 30px
		+xs
			display: flex
			padding: 0 5px 30px
			flex-direction: column
			align-items: center
			text-align: center
		&:nth-child(2n)
			padding-right: 6px
			padding-left: 8px
			+sm
				padding-right: 30px
			+xs
				padding-right: 5px
		&:nth-child(2n) .why-us__item-descr
			padding-left: 18px
			+xs
				padding-left: 0
		&:hover .why-us__item-icon
			transform: scale(1.2)
		&-icon
			display: inline-block
			vertical-align: middle
			transition: 1s .3s ease
			&.icon-letter-8
				position: relative
				left: 3px
			&.icon-letter-6
				position: relative
				left: 3px
			&.icon-letter-7
				position: relative
				top: -3px
				left: 2px
			&.icon-letter-4
				position: relative
				top: -2px
		&-icon-wrap
			position: relative
			display: inline-block
			vertical-align: middle
			width: 96px
			height: 96px
			border-radius: 50%
			background: $white
			+vertical
			+xs
				margin-bottom: 10px
		&-descr
			width: calc(100% - 100px)
			display: inline-block
			vertical-align: middle
			font-size: 16px
			line-height: 28px
			padding-left: 18px
			+sm
				padding-left: 15px
			+xs
				width: 100%
				padding-left: 0
			
.video-blog
	height: calc(100vh - 370px)
	padding: 30px 0
	background: #703782
	+vertical
	+r(1599)
		padding: 0 0 30px
		height: auto
	&__container
		width: 100%
		display: inline-block
		vertical-align: middle
		font-size: 0
		max-width: 1300px
		+r(1599)
			max-width: 1140px
	&__inner
		font-size: 0
		margin: 50px -10px 0
		+r(1599)
			margin: 20px -10px 0
		+sm
			flex-wrap: wrap
		+xs
			margin: 20px 0 0
	&__video
		display: inline-block
		vertical-align: top
		position: relative
		width: calc(33.333333% - 20px)
		margin: 0 10px
		overflow: hidden
		cursor: pointer
		+sm
			width: calc(50% - 20px)
			margin: 0 10px 20px
		+xs
			width: 100%
			margin: 0 0 20px
		&::before
			display: block
			width: 100%
			padding-top: 56.3%
			content: ''
		&:hover .video-blog__video-text.is-float
			transform: translateY(0%)
			opacity: 1
			+sm
				opacity: 0
				transform: translateY(100%)
		iframe
			+coverdiv
			width: 100%
			height: 100%
	&__video-trigger
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: 5
		font-size: 0
	&__video-text
		pointer-events: none
		position: absolute
		bottom: 26px
		left: 10px
		max-width: 260px
		z-index: 10
		color: #fff
		font-family: "Geometria-Bold", Arial, sans-serif
		font-weight: normal
		font-size: 16px
		line-height: 20px
		transition: .4s ease
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.8)
		&.is-float
			transform: translateY(100%)
			opacity: 0
			
.double-section
	background: #703782
	
.eye-blink
	position: absolute
	top: 0
	&__item
		position: absolute
		width: 60px
		height: 60px
		&::after, &::before
			position: absolute
			top: 0
			left: 0
			content: ''
		&::after
			width: 92px
			height: 61px
			background: url("../img/icons/eye-closed.png") no-repeat 50% 50%/cover
			animation: eyeBlink2 infinite 3s 3s steps(1, end)
		&::before
			background: url("../img/icons/eye-opened.png") no-repeat 50% 50%/cover
			width: 92px
			height: 80px
			animation: eyeBlink1 infinite 3s steps(1, end)
	&_left
		left: -15%
		+sm
			top: -7%
			left: 1.5%
		.eye-blink__item
			&::after
				transform: rotate(-18deg)
				top: 30px
	&_right
		right: -5%
		+sm
			top: -7%
			right: 13%
		.eye-blink__item
			&::before
				transform: scaleX(-1) rotate(-10deg)
			&::after
				top: 30px
	
@keyframes eyeBlink1
	0%
		opacity: 0
	50%
		opacity: 1
	100%
		opacity: 0
		
@keyframes eyeBlink2
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1