.footer
	padding-top: 0!important
	background: $white
	+xs
		padding: 30px 0!important
	&__container
		display: flex
		justify-content: space-between
		align-items: center
		height: 150px
		+sm
			height: 120px
		+xs
			height: auto
			flex-direction: column
	&__logo
		flex-basis: 350px
		+xs
			flex: 1 0 auto
		.logo__descr
			visibility: visible
			opacity: 1