.icon-letter-k, .icon-letter-t, .icon-letter-f, .icon-letter-v, .icon-letter-d, .icon-letter-n, .icon-letter-l, .icon-letter-b
	display: inline-block
	vertical-align: middle
	background: url("../img/icons/letters-spr.png") no-repeat

.icon-letter-k
	background-position: -5px -0px
	width: 133px
	height: 105px

.icon-letter-t
	background-position: -5px -110px
	width: 99px
	height: 106px

.icon-letter-f
	background-position: -5px -221px
	width: 98px
	height: 105px

.icon-letter-v
	background-position: -5px -331px
	width: 96px
	height: 115px

.icon-letter-d
	background-position: -5px -451px
	width: 92px
	height: 129px

.icon-letter-n
	background-position: -5px -585px
	width: 90px
	height: 105px

.icon-letter-l
	background-position: -5px -695px
	width: 80px
	height: 119px

.icon-letter-b
	background-position: -5px -819px
	width: 71px
	height: 105px