+b.HEADER.header
	+e.inner
		+e.container.container

			+b.logo.header__logo
				+e.A.link(href='#!')
					+e.IMG.img(src='static/img/logo.svg' alt='Бэби клуб')
				+e.P.descr Бережное развитие интеллекта

			+b.info-block._header
				-socials = {classMod: 'info-block__socials'}
				include socials

				+e.A.tel(href='#!') 8 800 100 20 24
				+e.BUTTON.call-btn.btn._yellow(type='button') Заказать звонок

				button.hamburger.hamburger--spring.js-hamburger(type='button')
					span.hamburger-box
						span.hamburger-inner

	+b.NAV.nav.js-nav
		+e.UL.list.container
			-
				navList = [{
				text: 'О компании'
				}, {
				text: 'Развитие интеллекта'
				}, {
				text: 'Как проходят занятия'
				}, {
				text: 'Выбрать клуб'
				}, {
				text: 'Открыть свой клуб'
				}, {
				text: 'Контакты'
				}, {
				text: 'Карьера'
				}]

			mixin navItem(item)
				+e.LI.list-item(class= item.activeClass ? 'is-active' : '')
					+e.A.list-link(href=`#!`)= item.text
			each item in navList
				+navItem(item)