if info ? info : info = []
if info.title ? info.title : info.title = 'Развивающие занятия для детей'
if info.descr ? info.descr : info.descr = 'В Бэби-клубе бережно развивают все виды интеллекта: социальный, личностный, пространственный, вербальный, цифровой, духовный, творческий, сенсорный, физический, чувственный. Для каждого возраста мы выбираем именно те задания, которые способствуют комплексному и гармоничному интеллектуальному развитию.'

//begin info
+b.SECTION.info.section(class= info.classMod ? info.classMod : '')
	+e.text
		+e.text-container.container
			+e.H2.title.title._md(data-anim-title='')= info.title
			+e.descr(data-anim-fast='')
				+e.P= info.descr

		+b.eye-blink
			+e.item._left

			+e.item._right

	//begin accordion
	+b.accordion
		+e.item(data-anim-slow='')
			+e.title
				+i('triangle-r')
				span От 8 месяцев до 2 лет
			+e.content
				+e.P В Бэби-клубе бережно развивают все виды интеллекта: социальный, личностный, пространственный, вербальный, цифровой, духовный, творческий, сенсорный, физический, чувственный. Для каждого возраста мы выбираем именно те задания, которые способствуют комплексному и гармоничному интеллектуальному развитию.

		+e.item(data-anim-slow='')
			+e.title
				+i('triangle-r')
				span От 2 до 4 лет
			+e.content
				+e.P В Бэби-клубе бережно развивают все виды интеллекта: социальный, личностный, пространственный, вербальный, цифровой, духовный, творческий, сенсорный, физический, чувственный. Для каждого возраста мы выбираем именно те задания, которые способствуют комплексному и гармоничному интеллектуальному развитию.

		+e.item(data-anim-slow='')
			+e.title
				+i('triangle-r')
				span От 4 до 7 лет
			+e.content
				+e.P В Бэби-клубе бережно развивают все виды интеллекта: социальный, личностный, пространственный, вербальный, цифровой, духовный, творческий, сенсорный, физический, чувственный. Для каждого возраста мы выбираем именно те задания, которые способствуют комплексному и гармоничному интеллектуальному развитию.