//begin interior
+b.SECTION.interior.section
	+e.slider.js-interior-slider
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Интерьер
			+e.slider-img(style='background-image: url(static/img/content/interior-1.jpg)')
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Красота
			+e.slider-img(style='background-image: url(static/img/content/krasota_1.jpg)')
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Чистота
			+e.slider-img(style='background-image: url(static/img/content/chistota.jpg)')
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Уют
			+e.slider-img(style='background-image: url(static/img/content/uyut_1.jpg)')
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Атмосфера
			+e.slider-img(style='background-image: url(static/img/content/interior-5.png)')
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Безопасность
			+e.slider-img(style='background-image: url(static/img/content/bezopasnost_1.jpg)')
		+e.slider-item
			+e.H2.title.title(data-anim-title='') Удобство
			+e.slider-img(style='background-image: url(static/img/content/udobstvo_1.jpg)')