if learn ? learn : learn = []
if learn.title ? learn.title : learn.title = 'Чему научится ваш РЕБЕНОК'

//begin learn
+b.SECTION.learn.section(class= learn.classMod ? learn.classMod : '')
	+e.container.container
		+e.H2.title.title(data-anim-title='')= learn.title
		+e.list.js-learn-slider

			mixin learnItem(img, title, ...texts)
				+e.item(data-anim-fast='')
					+e.item-pic
						+e.item-img(style=`background-image: url(static/img/content/${img}.jpg)`)

					+e.item-title= title
					+e.UL.item-list
						each text in texts
							+e.LI= text

			+learnItem('learn-1', 'Не просто считать, но и ...', 'Расплачиваться в магазине', 'Измерять свой вес и рост', 'Определять размер одежды', 'Определять время по часам', 'Планировать свое время')

			+learnItem('learn-2', 'Не просто говорить, но и ...', 'Выступать перед публикой без стеснения', 'Красиво и грамотно оперировать словами', 'Придумывать и записывать свои рассказы и истории', 'Подписывать поздравительные открытки для друзей')

			+learnItem('learn-3', 'Не просто читать, но и ...', 'Самостоятельно читать любимые сказки, когда мама устала', 'Ориентироваться среди вывесок и указателей в городе', 'Находить любую информацию в книгах и интернете', 'Читать письма и СМС')

			+learnItem('learn-4', 'Не просто общаться с другими детьми, но и...', 'Взаимодействовать в команде и чувствовать себя уверенно', 'Разрешать конфликты со сверстниками и предотвращать их', 'Отстаивать свою точку зрения, разумно подбирая аргументы', 'Слушать и слышать других людей', 'Задавать вопросы и самостоятельно делать выводы')

			+learnItem('learn-5', 'Не просто узнает много нового, но и...', 'Сохранит природную любознательность и будет любить учиться', 'Получит всестороннее интеллектуальное развитие', 'Будет развиваться в эмоциональном плане, различать и справляться с разными чувствами', 'Найдет дело себе по душе')