if specBlock ? specBlock : specBlock = []
if specBlock.title ? specBlock.title : specBlock.title = 'Специалист Бэби-клуба 5 звёзд'

//begin spec-block
+b.SECTION.spec-block.section(class= specBlock.classMod ? specBlock.classMod : '')
	+e.container.container
		+e.H2.title.title(data-anim-title='')= specBlock.title
		+e.H6.sub-title Как рождается 5-звёздочный специалист по работе с детьми?

		+e.image(data-anim-slow='')
			+e.IMG(src='static/img/bg/planets.png' alt='image')
		+e.inner
			-
				specList = [{
				text: '1. Только 3 из 100 соискателей проходят многоступенчатый конкурсный отбор: видеорезюме, эссе, личное собеседование, тест, пробный урок, обучение, испытательный срок'
				}, {
				text: '2. Каждый утвержденный кандидат проходит 8-дневное обучение методам и подходам бережного развития детей'
				}, {
				text: '3. Работая в Бэби-клубе, каждый специалист продолжает ежемесячно повышать свою квалификацию на Тематических онлайн-семинарах и консультациях с опытными кураторами-методистами'
				}, {
				text: '4. Ежегодно подтверждает свою квалификацию на Аттестации «5 звёзд» в управляющей компании сети'
				}, {
				text: '5. Принимает активное участие в Ежегодном общем съезде всех специалистов сети «Бэби-клуб», делится опытом и осваивает новые методики'
				}]

			mixin specItem(item)
				+e.item(data-anim-slow='')

					+e.P= item.text
			each item in specList
				+specItem(item)