if specBlock ? specBlock : specBlock = []
if specBlock.title ? specBlock.title : specBlock.title = 'Специалист Бэби-клуба 5 звёзд'

//begin spec-block
+b.SECTION.spec-block(class= specBlock.classMod ? specBlock.classMod : '').section
	+e.container.container(data-anim-slow='')
		+e.H2.title.title= specBlock.title
		+e.H6.sub-title Как рождается 5-звёздочный специалист по работе с детьми?

		+e.image
			+e.IMG(src='static/img/bg/planets.png' alt='image')
		+e.inner
			if specBlock.starsSlider
				+b.stars-slider.js-stars-slider.spec-block__stars-slider(data-anim-slow='')
					+e.item
						+e.P Только 3 из 100 соискателей проходят многоступенчатый конкурсный отбор: видеорезюме, эссе, личное собеседование, тест, пробный урок, обучение, испытательный срок
					+e.item
						+e.P Каждый утвержденный кандидат проходит 8-дневное обучение методам и подходам бережного развития детей
					+e.item
						+e.P Работая в Бэби-клубе, каждый специалист продолжает ежемесячно повышать свою квалификацию на Тематических онлайн-семинарах и консультациях с опытными кураторами-методистами
					+e.item
						+e.P Ежегодно подтверждает свою квалификацию на Аттестации «5 звёзд» в управляющей компании сети
					+e.item
						+e.P Принимает активное участие в Ежегодном общем съезде всех специалистов сети «Бэби-клуб», делится опытом и осваивает новые методики

			if specBlock.values
				+b.values-block
					+e.H2.title.title(data-anim-slow='') Ценности Бэби-сада
					+e.inner
						+e.item(data-anim-slow='')
							+e.item-img
								svg.cliped-svg(width='254', height='274', viewbox='0 0 254 274')
									clippath#clip-path
										circle(cx="50%" cy="44%" r="122")
										polygon(points="4,0 34,-4 18,24")
									image.cliped-img(xlink:href='static/img/content/values-1.png', height='274', width='254')

							+e.item-title Бережность
							+e.P Даже самые непоседливые дети чувствуют себя свободно и не устают, потому что увлекательные задания чередуются
								+e.BR
								| с играми. Дети познают мир в комфортном для себя ритме, который зависит
								+e.BR
								| от особенностей характера каждого.

						+e.item(data-anim-slow='')
							+e.item-img
								svg.cliped-svg(width='254', height='274', viewbox='0 0 254 274')
									clippath#clip-path
										circle(cx="50%" cy="44%" r="122")
										polygon(points="4,0 34,-4 18,24")
									image.cliped-img(xlink:href='static/img/content/values-2.png', height='274', width='254')
							+e.item-title Здоровье
							+e.P Зрение и осанка детей поддерживаются
								+e.BR
								| в первозданном виде благодаря использованию только здоровьесберегающих методик. Подвижные игры, музыкальные и танцевальные минутки помогают детям сохранять «в здоровом теле здоровый дух».

						+e.item(data-anim-slow='')
							+e.item-img
								svg.cliped-svg(width='254', height='274', viewbox='0 0 254 274')
									clippath#clip-path
										circle(cx="50%" cy="44%" r="122")
										polygon(points="4,0 34,-4 18,24")
									image.cliped-img(xlink:href='static/img/content/values-3.png', height='274', width='254')
							+e.item-title Гармония
							+e.P Мы помогаем родителям психологически грамотно общаться со своим ребёнком, чтобы малыш вырос гармоничным человеком, способным найти своё истинное призвание.

			-
				specList = [{
				text: '1. Только 3 из 100 соискателей проходят многоступенчатый конкурсный отбор: видеорезюме, эссе, личное собеседование, тест, пробный урок, обучение, испытательный срок'
				}, {
				text: '2. Каждый утвержденный кандидат проходит 8-дневное обучение методам и подходам бережного развития детей'
				}, {
				text: '3. Работая в Бэби-клубе, каждый специалист продолжает ежемесячно повышать свою квалификацию на Тематических онлайн-семинарах и консультациях с опытными кураторами-методистами'
				}, {
				text: '4. Ежегодно подтверждает свою квалификацию на Аттестации «5 звёзд» в управляющей компании сети'
				}, {
				text: '5. Принимает активное участие в Ежегодном общем съезде всех специалистов сети «Бэби-клуб», делится опытом и осваивает новые методики'
				}]

			mixin specItem(item)
				+e.item(data-anim-slow='')

					+e.P= item.text
			if specBlock.specList !== false
				each item in specList
					+specItem(item)