extends ../extend/default

block variables
	- var title = 'Home page';

block main

	include ../components/screen

	include ../components/mission

	include ../components/info

	include ../components/benefits

	include ../components/learn

	include ../components/interior

	include ../components/library

	include ../components/thanks

	include ../components/choose

	include ../components/news

	include ../components/project

	include ../components/ask