extends ../extend/default

block variables
	-title = 'Home page';
	-fullpageClass = 'js-home-fullpage';
	-headerClass = '_home';
	-navList = [{text: 'О компании'}, {text: 'Развитие интеллекта'}, {text: 'Как проходят занятия'}, {text: 'Выбрать клуб'}, {text: 'Открыть свой клуб'}, {text: 'Контакты'}, {text: 'Карьера'}]
	-footerNavList = ['О компании', 'Развитие интеллекта', 'Как проходят занятия', 'Выбрать клуб','Открыть свой клуб', 'Контакты', 'Карьера'];

block main

	include ../components/screen

	include ../components/mission

	include ../components/info

	include ../components/benefits

	include ../components/learn

	include ../components/interior

	include ../components/library

	include ../components/thanks

	include ../components/choose

	include ../components/news

	include ../components/project

	include ../components/ask